@media screen and (min-width: 1181px) {
    .room {
        min-height: 800px;
        width: 70%;
        height: calc(100svh - 78px);
    }
}

@media screen and (max-width: 1180px) {
    .room {
        min-height: unset !important;
    }
    @media screen and (min-width: 768px) {
        .room {
            height: 90svh;
            width: 90%;
        }
    }
}

@media screen and (max-width: 767px) {
    .room {
        width: 100%;
    }
    @media screen and (orientation: portrait) {
        .room {
            height: calc(100svh - 48px);
        }
    }
}
.room {
    position: relative;
    padding: 20px;
}
