@media screen and (min-width: 1025px) {
    .game-header {
        width: calc(70% - 80px);
    }
}
@media screen and (max-width: 1024px) {
    .game-header {
        width: calc(90% - 80px);
    }
}

@media screen and (min-width: 768px) {
    .game-header {
        padding: 10px 40px;
        img {
            transform: translate(-50%);
        }
    }
}
@media screen and (max-width: 767px) {
    .game-header {
        padding: 10px 25px;
        width: calc(90% - 50px);
        img {
            transform: translate(-50%, -20%) scale(0.6);
        }
        svg {
            transform: scale(0.4) translate(80%, -80%) !important;
        }
    }
    @media screen and (orientation: portrait) {
        .game-header {
            padding: 0;
            width: 90%;
            max-height: 150px;
            &__step-indicator {
                font-size: 5vh !important;
            }
            img {
                transform: translate(-50%, -20%) scale(0.5);
            }
            svg {
                transform: scale(0.3) translate(110%, -110%) !important;
            }
            svg {
                transform: scale(0.3) translate(110%, -110%) !important;
            }
        }
    }
}

.game-header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    img {
        position: absolute;
        left: 50%;
    }
    &__step-indicator {
        color: $clr-1;
        font-size: 7vh;
    }
    svg {
        transform: scale(0.5) translate(50%, -50%);
    }
}
