@keyframes circleStrokeAnimation {
    0% {
        stroke-dashoffset: 330;
    }
    100% {
        stroke-dashoffset: 60;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
