$clr-1: rgb(255, 255, 255);

$first-color: rgba(92, 30, 166, 1);
$second-color: rgba(200, 67, 94, 1);
$third-color: rgb(50, 5, 81);

$first-shade: rgba(29, 29, 27, 0.15);
$second-shade: rgba(38, 28, 92, 0.3);

$clr-1-op06: rgba(255, 255, 255, 0.6);
$clr-1-op015: rgba(255, 255, 255, 0.15);

$font-regular-size: 20px;
