$clr-1: rgb(255, 255, 255);
$clr-2: rgb(68, 68, 68);

$first-color: rgba(92, 30, 166, 1);
$second-color: rgba(200, 67, 94, 1);
$third-color: rgb(50, 5, 81);
$fourth-color: #5cffb6;
$fifth-color: rgb(214, 187, 235);
$sixth-color: #cbb6e9;
$seventh-color: rgb(137, 111, 255);

$shade-color: rgb(38, 28, 92);

$first-shade: rgba(29, 29, 27, 0.15);
$second-shade: rgba($shade-color, 0.3);
$third-shade: rgba(80, 24, 81, 0.25);
$fourth-shade: rgba(29, 29, 27, 0.45);
$fifth-shade: rgba(0, 0, 0, 0.9);
$sixth-shade: rgba($shade-color, 0.5);

$clr-1-op07: rgba(255, 255, 255, 0.7);
$clr-1-op06: rgba(255, 255, 255, 0.6);
$clr-1-op03: rgba(255, 255, 255, 0.3);
$clr-1-op015: rgba(255, 255, 255, 0.15);

$font-regular-size: 20px;
$font-bigger-size: 26px;

$regular-txt-shadow: 3px 0px 0px $third-color, 2.2px 2.2px 0px $third-color,
    0px 3px 0px $third-color, -2.2px 2.2px 0px $third-color,
    -3px 0px 0px $third-color, -2.5px -2.5px 0px $third-color,
    0px -3px 0px $third-color, 2.5px -2.5px 0px $third-color;

$dark-txt-shadow: 3px 0px 0px darken($third-color, 5),
    2.2px 2.2px 0px darken($third-color, 5), 0px 3px 0px darken($third-color, 5),
    -2.2px 2.2px 0px darken($third-color, 5),
    -3px 0px 0px darken($third-color, 5),
    -2.5px -2.5px 0px darken($third-color, 5),
    0px -3px 0px darken($third-color, 5),
    2.5px -2.5px 0px darken($third-color, 5);
