@media screen and (min-width: 1025px) {
    .room-content__buttons-row {
        button {
            font-size: $font-regular-size;
            padding: 10px 25px;
        }
    }
}
@media screen and (max-width: 1024px) {
    .room-content__buttons-row {
        button {
            font-size: 16px;
            padding: 8px 15px;
            img {
                transform: scale(0.8);
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .room-content__buttons-row {
        flex-direction: column;
        button {
            width: 80%;
        }
    }
}

.room-content__buttons-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    button {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        border-radius: 5px;
        border: none;
        font-family: "main-fonts";
        text-transform: uppercase;
        box-shadow: 0px 8px 0px 0px $third-color;
        span.copy {
            opacity: 0;
            position: absolute;
            color: $clr-1-op06;
            transform: translateY(60px);
            &.active {
                animation: fadeOut 3s ease-in-out forwards;
            }
        }
    }
    .join-room-form {
        cursor: pointer;
        position: absolute;
        transform: scale(0);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        background-color: $clr-1;
        padding: 20px 35px;
        border-radius: 15px;
        transition: 0.2s;
        &.active {
            transform: scale(1) translateY(-150px);
        }
        &__header {
            display: flex;
            h3 {
                font-size: $font-bigger-size;
                text-transform: uppercase;
                margin: 0;
                color: $first-color;
            }
            svg {
                color: $third-color;
                position: absolute;
                right: 5px;
                top: 5px;
                padding: 5px;
                z-index: 10;
                path {
                    pointer-events: none;
                }
            }
        }
        input {
            width: calc(100% - 20px);
            border: 2px solid $fifth-color;
            border-radius: 5px;
            padding: 8px;
            font-size: $font-regular-size;
            text-align: center;
        }
        span {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: $font-regular-size;
            color: $fourth-color;
            text-shadow: $regular-txt-shadow;
            padding: 7px 25px;
            border: 3px solid $fourth-color;
            border-radius: 25px;
            box-shadow: 0px 3px 0px 1px $third-color;
        }
    }
}
