@media screen and (min-width: 768px) {
    .room-content__right-column {
        width: 66%;
    }
    @media screen and (max-width: 1024px) {
        .room-content {
            max-height: calc(90svh - 220px) !important;
            &__right-column {
                max-height: 90%;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .room-content {
        flex-direction: column;
        &__right-column {
            width: 100%;
        }
    }
    @media screen and (orientation: landscape) {
        .room-content {
            max-height: unset !important;
        }
    }
}
.room-content {
    position: relative;
    display: flex;
    gap: 20px;
    width: 100%;
    max-height: calc(100svh - 310px);
    &__right-column {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 25px;
    }
}
