@media screen and (min-width: 768px) {
    .room-content__right-column {
        width: 66%;
    }
}

@media screen and (max-width: 767px) {
    .room-content {
        flex-direction: column;
        &__right-column {
            width: 100%;
        }
    }
}
.room-content {
    position: relative;
    display: flex;
    gap: 20px;
    width: 100%;
    max-height: calc(100svh - 310px);
    &__right-column {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 25px;
    }
}
