@media screen and (min-width: 1081px) {
    .drawing-step__left-column {
        h2 {
            font-size: 7vh;
        }
        .color-container {
            min-width: 100px;
            .color {
                width: calc(33% - 8px);
                min-width: 26px;
                min-height: 26px;
                height: calc((70vw * 0.14 - 30px) * 0.33 - 8px);
            }
        }
    }
}
@media screen and (max-width: 1080px) {
    .drawing-step__left-column {
        h2 {
            font-size: 50px;
        }
    }
    @media screen and (min-width: 768px) {
        .drawing-step__left-column {
            .color-container {
                min-width: 80px;
                .color {
                    width: calc(50% - 8px);
                    min-width: 30px;
                    min-height: 30px;
                }
            }
        }
        @media screen and (max-height: 500px) {
            .drawing-step__left-column {
                .color-container {
                    transform: none !important;
                    top: 30% !important;
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .drawing-step__left-column {
        .color-container {
            &__remover {
                display: none;
            }
            width: calc((70% - 40px) * 0.14 - 28px);
            background-color: $seventh-shade;
        }
    }
}
@media screen and (max-width: 767px) {
    .drawing-step__left-column {
        position: absolute;
        width: calc(100% - 20px);
        height: calc(100% - 15px);
        top: 15px;
        left: 20px;
        h2 {
            position: absolute;
            left: 0;
            top: 0;
        }
        .color-container {
            display: none !important;
            &.active {
                padding: 50px 20px 20px;
                display: flex !important;
                z-index: 1000;
                position: absolute;
                width: 70vw;
                top: unset !important;
                bottom: 120px;
                left: 0px;
                transform: none;
                background-color: rgba(11, 11, 11, 0.5);
                backdrop-filter: blur(5px);
                .color {
                    width: calc((70vw / 6) - 10px);
                    height: calc((70vw / 6) - 10px);
                }
            }
            &__remover {
                cursor: pointer;
                color: $clr-1;
                font-size: 25px;
                position: absolute;
                top: 15px;
                right: 15px;
            }
        }
    }
}

.drawing-step__left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        color: $clr-1;
        letter-spacing: 3px;
        margin: 0;
    }
    .color-container {
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        border-radius: 12px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &__choices {
            margin: 0;
            position: relative;
            padding: 0px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            .color {
                cursor: pointer;
                border: 1px solid $clr-1-op07;
                border-radius: 5px;
            }
        }
        &__current {
            height: 55px;
            width: 100%;
            border: 1px solid $clr-1-op07;
            border-radius: 5px;
        }
    }
}
