@media screen and (min-width: 1025px) {
    .drawing-step__right-column {
        .tools-container {
            width: calc((70% - 40px) * 0.14 - 28px);
            min-width: 100px;
            .tool {
                width: calc(50% - 8px);
                min-width: 44px;
                min-height: 44px;
                height: calc((9.8vw - 30px) * 0.5 - 8px);
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .drawing-step__right-column {
        > svg {
            transform: scale(0.5) translateY(-50%);
        }
        .tools-container {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            &__remover-button {
                display: none;
            }
        }
    }
    @media screen and (max-width: 1024px) {
        .drawing-step__right-column {
            .tools-container {
                width: calc((70% - 40px) * 0.14 - 28px);
                min-width: 60px;
                .tool {
                    width: 100%;
                    min-width: 34px;
                    min-height: 35px;
                }
            }
        }
        @media screen and (max-height: 500px) {
            .drawing-step__right-column {
                .tools-container {
                    transform: none !important;
                    top: 30% !important;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .drawing-step__right-column {
        position: absolute;
        top: 0px;
        right: 20px;
        width: calc(100vw - 20px);
        height: 100svh;
        pointer-events: none;
        > svg {
            position: absolute;
            right: 0;
            transform: scale(0.4) translate(60%, -52%);
        }
        .tools-container {
            display: none;
            &__remover-button {
                cursor: pointer;
                position: absolute;
                top: 10px;
                right: 10px;
                color: $clr-1;
                font-size: 25px;
            }
            &.active {
                pointer-events: all;
                padding: 50px 20px 20px;
                display: flex;
                z-index: 10;
                position: absolute;
                width: 70vw;
                bottom: 120px;
                left: 30px;
                transform: none;
                background-color: rgba(11, 11, 11, 0.5);
                backdrop-filter: blur(5px);
                .tool {
                    width: calc((70vw / 5) - 8px);
                    height: calc((70vw / 5) - 8px);
                }
            }
        }
    }
}

.drawing-step__right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    .tools-container {
        background-color: $seventh-shade;
        border-radius: 12px;
        padding: 15px;
        flex-wrap: wrap;
        gap: 8px;
        .tool {
            border: 1px solid $clr-1-op03;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            &.active {
                border-color: $clr-1;
                svg {
                    color: $clr-1;
                }
            }
            svg {
                color: $clr-1-op03;
                font-size: 30px;
            }
        }
    }
}
