.drawing-step__content {
    &__header {
        padding: 20px;
        width: calc(100% - 40px);
        background-color: $first-color;
        border-radius: 20px 20px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: relative;
        &-rings {
            content: "";
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);

            width: 518px;
            height: 59px;
        }
        .first-row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            svg {
                font-size: 30px;
                color: $clr-1;
            }
        }
        h1 {
            font-size: $font-regular-size;
            margin: 0;
        }
        h2 {
            margin: 0;
            text-transform: uppercase;
            font-size: $font-bigger-size;
            color: $clr-1;
            text-shadow: $dark-txt-shadow;
        }
    }
    &__main {
        position: relative;
        height: 65%;
        min-height: 424px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $clr-1;
        border-radius: 0 0 20px 20px;
        box-shadow: $shadow-looking-like-book;
        &::before {
            content: "";
            position: absolute;
            height: calc(100% + 3px);
            width: 1px;
            top: 0;
            left: 0;
            background-color: $third-color;
        }
        &::after {
            content: "";
            position: absolute;
            height: calc(100% + 3px);
            width: 1px;
            top: 0;
            right: 0;
            background-color: $third-color;
        }
        img {
            pointer-events: none;
            position: absolute;
            transform: scale(2.5);
        }
        canvas {
            z-index: 1;
            width: 100%;
            height: 100%;
        }
    }
    &__footer {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
        .stroke-settings {
            display: flex;
            gap: 15px;
            padding: 10px;
            background-color: $seventh-shade;
            border-radius: 10px;
            &__size-modificator {
                padding: 8px;
                border: none;
                display: flex;
                gap: 20px;
                border: 2px solid $eighth-shade;
                border-radius: 8px;
                > div {
                    width: 40px;
                    height: 40px;
                    border: 2px solid $eighth-shade;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &.active {
                        border-color: $clr-1;
                        label {
                            background-color: $clr-1;
                        }
                    }
                }
                input {
                    appearance: none;
                    pointer-events: none;
                }
                label {
                    pointer-events: none;
                }
                > .smallest-size label {
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    border-radius: 5px;
                    background-color: $eighth-shade;
                }
                > .small-size label {
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 10px;
                    background-color: $eighth-shade;
                }
                > .medium-size label {
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border-radius: 15px;
                    background-color: $eighth-shade;
                }
                > .big-size label {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-radius: 20px;
                    background-color: $eighth-shade;
                }
                > .biggest-size label {
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    border-radius: 25px;
                    background-color: $eighth-shade;
                }
            }
            &__opacity-modificator {
                width: 286px;
                padding: 15px;
                border: 2px solid $eighth-shade;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 8px;
                .low-opacity {
                    width: 35px;
                    height: 35px;
                    border-radius: 35px;
                    background-color: $clr-1-op03;
                }
                .strong-opacity {
                    width: 35px;
                    height: 35px;
                    border-radius: 35px;
                    background-color: $clr-1;
                }
                input[type="range"] {
                    appearance: none;
                    width: 70%;
                    color: transparent;
                    border: none !important;
                    margin: 0;
                    &:focus {
                        outline: none;
                    }
                    &::-webkit-slider-runnable-track {
                        width: 100%;
                        height: 10px;
                        cursor: pointer;
                        background: $eighth-color;
                        border-radius: 0px;
                        color: transparent;
                    }
                    &::-webkit-slider-thumb {
                        height: 25px;
                        width: 25px;
                        border-radius: 50px;
                        background: $nineth-color !important;
                        cursor: pointer;
                        -webkit-appearance: none;
                        margin-top: -7.5px;
                    }
                    &:focus::-webkit-slider-runnable-track {
                        background: $eighth-color;
                    }
                    &::-moz-range-track {
                        width: 100%;
                        height: 10px;
                        cursor: pointer;
                        background: $eighth-color;
                        border-radius: 0px;
                    }
                    &::-moz-range-thumb {
                        height: 25px;
                        width: 25px;
                        border-radius: 50px;
                        background: $nineth-color;
                        cursor: pointer;
                    }
                    &::-ms-track {
                        width: 100%;
                        height: 10px;
                        cursor: pointer;
                        background: transparent;
                        border-color: transparent;
                        color: transparent;
                    }
                    &::-ms-fill-lower {
                        background: $eighth-color;
                        border-radius: 10px;
                    }
                    &::-ms-fill-upper {
                        background: $eighth-color;
                        border-radius: 10px;
                    }
                    &::-ms-thumb {
                        margin-top: 1px;
                        height: 25px;
                        width: 25px;
                        border-radius: 50px;
                        background: $nineth-color;
                        cursor: pointer;
                    }
                    &:focus::-ms-fill-lower {
                        background: $eighth-color;
                    }
                    &:focus::-ms-fill-upper {
                        background: $eighth-color;
                    }
                }
            }
        }
        button {
            width: 100%;
            padding: 25px;
            display: flex;
            align-items: center;
            gap: 25px;
            max-height: 60px;
            border-radius: 12px;
            border: none;
            box-shadow: 0px 8px 0px 1px $third-color;
            span {
                text-transform: uppercase;
                color: $third-color;
                font-size: $font-regular-size;
                font-family: "main-fonts";
            }
        }
        .players-ready {
            text-transform: uppercase;
            font-size: $font-regular-size;
            color: $clr-1;
            text-shadow: $regular-txt-shadow;
            letter-spacing: 2px;
        }
    }
}
