@media screen and (min-width: 1025px) {
    .writting-step {
        .draw-bg {
            width: calc(80% - 200px);
        }
        &__input-container {
            width: calc(70vw - 200px);
            flex-wrap: wrap;
            input {
                width: calc(70vw - 510px);
            }
        }
    }
}
@media screen and (min-width: 768px) {
    @media screen and (max-width: 1024px) {
        .writting-step {
            &__input-container {
                gap: 25px;
                width: 90%;
                input {
                    width: calc(90vw - 420px);
                }
            }
        }
        @media screen and (max-height: 450px) {
            .writting-step {
                #first-round-picture {
                    display: none;
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .writting-step {
        #first-round-picture {
            display: none;
        }
        h1 {
            text-align: center;
        }
        &__input-container {
            position: relative;
            flex-direction: column;
            gap: 25px;
            width: 90%;
            input {
                padding: 20px 25px !important;
                width: calc(100% - 58px) !important;
            }
            button {
                min-width: 100% !important;
            }
        }
        .players-ready {
            text-align: center;
        }
    }
}
.writting-step {
    margin-top: 170px;
    height: calc(100% - 170px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    #first-round-picture {
        transform: scale(2);
    }
    .draw-bg {
        background-color: $clr-1;
        border-radius: 20px;
        img {
            width: 100%;
            height: auto;
        }
    }
    h1 {
        font-size: $font-biggest-size;
    }
    &__input-container {
        display: flex;
        justify-content: space-between;
        input {
            padding: 10px 25px;
            background-color: $clr-1-op03;
            border: 4px solid $clr-1-op07;
            border-radius: 8px;

            font-family: "main-fonts";
            font-size: $font-regular-size;
            text-transform: uppercase;
            color: $clr-1 !important;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &::placeholder {
                color: $clr-1-op07;
            }
        }
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            width: 210px;
            background-color: $clr-1;
            box-shadow: 0px 10px 0px 1px $third-color;
            border: none;
            border-radius: 8px;
            padding: 15px 25px;
            span {
                font-family: "main-fonts";
                text-transform: uppercase;
                font-size: $font-regular-size;
                color: $third-color;
            }
        }
    }
    .players-ready {
        margin-left: 15px;
        text-transform: uppercase;
        font-size: $font-regular-size;
        color: $clr-1;
        text-shadow: $regular-txt-shadow;
        letter-spacing: 2px;
    }
}
