@import "../2.Utils/variables";
html,
body,
#__next {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(200deg, $first-color 0%, $second-color 100%);
}

#__next {
    background-image: url(../../public/images/textura.png);
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
